/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* VARIABLES */
$primary-color: #243cb2; 
$bordes: solid 15px $primary-color;

* {
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
}
.encabezado {
    border-top: $bordes;
    border-bottom: $bordes;
}

/* DETAILS */
@mixin borde ($arriba, $abajo){
    border-top: $arriba;
    border-style: solid;
    border-color: rgb(228, 228, 228);
    border-left: 0px;
    border-bottom-width: $abajo;
    border-right: 0px;
}
.borde1 {
    @include borde (4px, 0px);
}
.bordeFooter {
    @include borde (0px, 4px);
}

//* NAVBAR ICON *//
@import "navbar";

//* RESPONSIVE *//
@import "responsive";

//* SERVICES CARDS *//
@import "main-services";

//* ANIMATION *//
@import "animation";

//* FOOTER + SOCIAL *//
@import "footer";
