/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "Montserrat", sans-serif;
}

.encabezado {
    border-top: solid 15px rgb(36, 60, 178);
    border-bottom: solid 15px rgb(36, 60, 178);
}

/* SLIDES */
.img-fluid {
    max-height: 39rem;
    height: 300px;
    object-fit: cover;
}

@media only screen and (max-width:650px) {
    #intro {
        width: 80% !important;
        font-size: 20rem !important;
    }
}

.navbar-toggler-icon {
    height: 20px;
    width: 20px;
}
